<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' or template == 'cart' %}
<div class='breadcrumb' aria-label='breadcrumbs'>
  <div class='breadcrumb__inner'>
    <div class='list-item'>
      <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
    </div>

    {% if template contains 'product' %}
      {% if collection %}
        <span aria-hidden="true">/</span>
        {% if collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          <div class='list-item'>
            {{ collection.title | link_to: url }}
          </div>
        {% endif %}
      {% endif %}
      <span aria-hidden="true">/</span>
      <div class='list-item'>{{ product.title }}</div>

    {% elsif template contains 'collection' and collection.handle %}
      <span aria-hidden="true">/</span>
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <div class='list-item'>
          {{ collection.title | link_to: url }}
        </div>
        <span aria-hidden="true">/</span>
        <div class='list-item'>
          {{ current_tags | join: " + " }}
        </div>
      {% else %}
        <div class='list-item'>
          {{ collection.title }}
        </div>
      {% endif %}

    {% elsif template == 'blog' %}

      <span aria-hidden="true">/</span>
      {% if current_tags %}
        <div class='list-item'>
          {{ blog.title | link_to: blog.url }}
        </div>
        <span aria-hidden="true">/</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <div class='list-item'>
          <span>{{ blog.title }}</span>
        </div>
      {% endif %}

    {% elsif template == 'article' %}

      <span aria-hidden="true">/</span>
      <div class='list-item'>
        {{ blog.title | link_to: blog.url }}
      </div>
      <span aria-hidden="true">/</span>
      <div class='list-item'>
        <span>{{ article.title }}</span>
      </div>

    {% elsif template contains 'page' %}

      <span aria-hidden="true">/</span>
      <div class='list-item'>
        <span>{{ page.title }}</span>
      </div>

    {% elsif template == 'list-collections' %}

      <span aria-hidden="true">/</span>
      <div class='list-item'>
        <span>Shop</span>
      </div>

    {% else %}

      <span aria-hidden="true">/</span>
      <div class='list-item'>
        <span>{{ page_title }}</span>!!!
      </div>

    {% endif %}
  </div>
</div>
{% endunless %}
