{% comment %} SINGLE ARTICLE (BLOG POST) GRID ITEM {% endcomment %}
<div class='grid-item'>
	<div class='grid-item__inner'>
		<div class='grid-item__upper'>
			<a href="{{ article.url }}">
				<div class='grid-item__image'>
					<img src="{{ article.image.src | img_url: 'grande' }}" alt="{{ article.title }}" />
				</div>
				<div class='grid-item__prompt'>
					<div class='grid-item__content'>
						<div class='grid-item__title'>{{ article.title }}</div>
						<div class='grid-item__subtitle'>&dagger;</div>
					</div>
				</div>
			</a>
		</div>
		<div class='grid-item__lower'>
			<a href="{{ article.url }}">
				<div class='grid-item__date'>{{ article.published_at | date: "%a, %b %d, %y" }}</div>
				<div class='grid-item__title'>{{ article.title }}</div>
			</a>
		</div>
	</div>
</div>
