<!-- product, image -->

<div class='product'>
	<div class='product__image'>
		<a href='{{ product.url | within: collection }}'>
			<img src='{{ product.featured_image.src | img_url: 'grande' }}' alt='{{ product.title }}'>
			<div class='product__prompt'>
				<div class='popup'>
					View.
				</div>
			</div>
		</a>
	</div>
	<div class='product__info'>
		<div class='name'>
			<a href="{{ product.url | within: collection }}">{{ product.title }}</a>
		</div>
		<div class='price'>
			<span class='from mobile-show mobile-inline'>{% if product.variants.size > 1 %}outfit, {% endif %}ex. tax</span>
			{{ product.price_max | 'money' }}
			<div class='tax-notice mobile-hide hidden'>&nbsp;{% if product.variants.size > 1 %}outfit, {% endif %}ex. tax</div>
		</div>
	</div>
</div>
