<div class="menu">
	<div class="menu__inner">
		<div class='list-item'>
			<div class='list-item__inner'><a href="/collections/all">Shop</a></div>
		</div>
		<div class='list-item'>
			<div class='list-item__inner'>
				<a href="/#collections/">Collections</a>
			</div>
		</div>
		<div class='list-item'>
			<div class='list-item__inner'>
				<a href="/cart">
					{{ 'layout.cart.title' | t }}
					{% if cart.item_count > 0 %}
						<span id="cart-items-info">
							&nbsp;({{ cart.item_count }} {% if cart.item_count > 1 %}items{% else %}item{% endif %} | {{ cart.total_price | money }})
						</span>
					{% endif %}
				</a>
			</div>
		</div>
		<div class='list-item'>
			<div class='list-item__inner'>
				{% if shop.customer_accounts_enabled %}
					{% if customer %}
						<a href="/account/">{{ 'layout.customer.account' | t }}</a>&nbsp;|&nbsp;{{ 'layout.customer.log_out' | t | customer_logout_link }}
					{% else %}
						{{ 'layout.customer.log_in' | t | customer_login_link }}
					{% endif %}
				{% endif %}
			</div>
		</div>
		<div class='list-item'>
			<div class='list-item__inner'>
				<a href="/pages/about">About</a>
			</div>
		</div>
		<div class='list-item'>
			<div class='list-item__inner'>&nbsp;</div>
		</div>
		<div class='list-item'>
			<div class='list-item__inner close-menu'>
				Close &oslash;
			</div>
		</div>
	</div>
</div>
