{% if settings.footer_social_enable %}
	<div class="social-media">
		<div class="social-media__list">
			{% if settings.social_twitter_link != blank %}
				<div class="social-media__list__item">
					<a target="_blank" href="{{ settings.social_twitter_link }}">Twitter.</a>
				</div>
			{% endif %}
			{% if settings.social_facebook_link != blank %}
				<div class="social-media__list__item">
					<a target="_blank" href="{{ settings.social_facebook_link }}">Facebook.</a>
				</div>
			{% endif %}
			{% if settings.social_instagram_link != blank %}
				<div class="social-media__list__item">
					<a target="_blank" href="{{ settings.social_instagram_link }}">Instagram.</a>
				</div>
			{% endif %}
			{% if settings.social_pinterest_link != blank %}
				<div class="social-media__list__item">
					<a target="_blank" href="{{ settings.social_pinterest_link }}">Pinterest.</a>
				</div>
			{% endif %}

			<div class='social-media__list__item mobile-hide'>
				<a href='/pages/faq/'>Information/ FAQ.</a>
			</div>

			{% if template == "collection" %}
				<div class="social-media__list__item mobile-hide">
					<a href="/#collections">Back to collections.</a>
				</div>
			{% elsif template == "product" %}
				<div class="social-media__list__item mobile-hide">
					<a href="{% assign collection = product.collections | first %}{{ collection.url }}">Back to collection.</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
