<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

{% if cart.item_count > 0 %}

<h1>CART</h1><br />

<form action="/cart" method="post" novalidate class="cart table-wrap">
	<div class="cart-table">
		<div class="cart-table__row mobile-show">
			<div class='cart-table__row__cell cell-full'>
				Item / Qty. / Total
			</div>
		</div>
		<div class="cart-table__row mobile-hide border-bottom">
			<div class='cart-table__row__cell cell-full'>
				Item / Price / Qty. / Total
			</div>
		</div>
		<!--
		<div class="cart-table__row mobile-hide">
			<div class="cart-table__row__cell cell-quarter">{{ 'cart.label.product' | t }}</div>
			<div class="cart-table__row__cell cell-quarter">{{ 'cart.label.price' | t }}</div>
			<div class="cart-table__row__cell cell-quarter">{{ 'cart.label.quantity' | t }}</div>
			<div class="cart-table__row__cell cell-quarter">{{ 'cart.label.total' | t }}</div>
		</div>
		-->

		{% for item in cart.items %}
		<div class="cart-table__row">
			<div class="cart-table__row__cell cell-quarter" data-label="{{ 'customer.order.product' | t }}">
				<a href="{{ item.url }}">{{ item.product.title }}</a>
				{% unless item.variant.title contains 'Default' %}
          <br>
					<span class="font-smaller">({{ item.variant.title }})</span>
        {% endunless %}
				{% if settings.cart_vendor_enable %}
					<p>{{ item.vendor }}</p>
        {% endif %}
				&nbsp;
				<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
					<span class="font-smaller underline">{{ 'cart.general.remove' | t }}</span>
        </a>
			</div>
			<div class="cart-table__row__cell cell-quarter" data-label="{{ 'cart.label.price' | t }}">{{ item.price | money }}</div>
			<div class="cart-table__row__cell cell-quarter" data-label="{{ 'cart.label.quantity' | t }}">
				<input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
			</div>
			<div class="cart-table__row__cell cell-quarter" data-label="{{ 'cart.label.total' | t }}">
				{{ item.line_price | money }}
				{% for discount in item.discounts %}
					<br><span class="cart-item__discount">{{ discount.title }}</span>
        {% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>

	<br />
	<div class="cart-checkout">
		{% if settings.cart_notes_enable %}
			<label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
			<textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
		{% endif %}
		<p class='cart-checkout__disclaimers'>
			{{ 'cart.general.subtotal' | t }}&nbsp;{{ cart.total_price | money }}<br />
			<br />
			<em class="font-smaller">*{{ 'cart.general.shipping_at_checkout' | t }}</em><br />
			<em class="font-smaller">
				*Items are made to order and ship in 3-4 weeks,<br />
				*Pre-order items ship in 6 weeks.
			</em>
		</p>
		{% if cart.total_discounts > 0 %}
		{% assign savings = cart.total_discounts | money %}
		<p>
			<span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
		</p>
		{% endif %}
		<p></p>
		<div class="cart-checkout__buttons">
			<button type="submit" name="update" class="btn--secondary update-cart">{{ 'cart.general.update' | t }}</button>
			<button type="submit" name="checkout" class="btn">{{ 'cart.general.checkout' | t }}</button>
		</div>
	</div>

	<br />

</form>

{% include 'payments' %}

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h1>CART</h1><br />
  <p>{{ 'cart.general.empty' | t }} Continue browsing <a href="/#collections" class="underline">here</a>.</p>
{% endif %}
