{% comment %} FEATURED {% endcomment %}
<div class='content content--index'>
  <div class='index-featured'>
    <div class='index-featured__background-image'>
      <a href='{{ settings.index_featured_url }}'>
      <img src='{{ settings.index_featured_image | img_url: "master" }}' alt=''/>
      </a>
      <!-- <div class='gradient-overlay'></div> -->
    </div>
    {% comment %}
    <div class='index-featured__wrapper'>
      <div class='index-featured__inner'>
        <div class='index-featured__content'>
          <a href='{{ collections[settings.index_featured_collection].url }}'>
            <div class='title'>{{ collections[settings.index_featured_collection].title }}</div>
            <div class='link'>&#9769; View Collection &#9769;</div>
          </a>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
</div>

<div class='content content--index'>
  {% comment %} LATEST BLOG.EDITORIALS POSTS (3) {% endcomment %}
  <div class='index-row'>
    <div class='index-row__heading'>
      <div class='heading'>
        Collections
      </div>
      <div class='subheading'>
        <a href='/blogs/editorials/'>&#9769; Shop now &#9769;</a>
      </div>
    </div>
    <div class='index-row__inner'>
      {% assign index = 0 %}
      {% for link in linklists.all-collections.links %}
        {% if index < 3 %}
          {% assign article = link.object %}
          <div class="index-row__item">
            <a href="{{ article.url }}">
              <div class='index-row__image'>
                <img src="{{ article.image.src | img_url: 'grande' }}" alt="{{ article.title }}" />
              </div>
              <div class='index-row__content'>
                <div class='index-row__title'>
                  {{ article.title }}
                </div>
                {% comment %}
                  <div class='index-row__excerpt'>
                    {{ article.excerpt }}
                  </div>
                {% endcomment %}
              </div>
            </a>
          </div>
          {% assign index = index | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% comment %} LATEST BLOG.EDITORIALS POSTS (3) {% endcomment %}
  <div class='index-row'>
    <div class='index-row__heading'>
      <div class='heading'>
        Editorials
      </div>
      <div class='subheading'>
        <a href='/blogs/editorials/'>&#9769; See more &#9769;</a>
      </div>
    </div>
    <div class='index-row__inner'>
      {% assign index = 0 %}
      {% for article in blogs.editorials.articles %}
        {% if index < 3 %}
          <div class="index-row__item">
            <a href="{{ article.url }}">
              <div class='index-row__image'>
                <img src="{{ article.image.src | img_url: 'grande' }}" alt="{{ article.title }}" />
              </div>
              <div class='index-row__content'>
                <div class='index-row__title'>
                  {{ article.title }}
                </div>
                {% comment %}
                <div class='index-row__excerpt'>
                  {{ article.excerpt }}
                </div>
                {% endcomment %}
              </div>
            </a>
          </div>
          {% assign index = index | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% comment %} LATEST BLOG.VIDEO POSTS (2) {% endcomment %}
  <div class='index-row'>
    <div class='index-row__heading'>
      <div class='heading'>
        Videos
      </div>
      <div class='subheading'>
        <a href='/blogs/video/'>&#9769; See more &#9769;</a>
      </div>
    </div>
    <div class='index-row__inner'>
      {% assign index = 0 %}
      {% for article in blogs.video.articles %}
        {% if index < 2 %}
          <div class="index-row__item index-row__item--half">
            <a href="{{ article.url }}">
              <div class='index-row__image'>
                <div class='index-row__prompt'>
                  <svg width='30' height='30'>
                    <polygon points='0,0 25,15 0,30' style='fill:white;' />
                  </svg>
                </div>
                <img src="{{ article.image.src | img_url: 'grande' }}" alt="{{ article.title }}" />
              </div>
              <div class='index-row__content'>
                <div class='index-row__title'>
                  {{ article.title }}
                </div>
                {% comment %}
                <div class='index-row__excerpt'>
                  {{ article.excerpt }}
                </div>
                {% endcomment %}
              </div>
            </a>
          </div>
          {% assign index = index | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% comment %} LATEST BLOGS.BLOG POSTS (3) {% endcomment %}
  <div class='index-row'>
    <div class='index-row__heading'>
      <div class='heading'>
        Memoir
      </div>
      <div class='subheading'>
        <a href='/blogs/blog/'>&#9769; Read more &#9769;</a>
      </div>
    </div>
    <div class='index-row__inner'>
      {% assign index = 0 %}
      {% for article in blogs.blog.articles %}
        {% if index < 3 %}
          <div class="index-row__item">
            <a href="{{ article.url }}">
              <div class='index-row__image'>
                <img src="{{ article.image.src | img_url: 'grande' }}" alt="{{ article.title }}" />
              </div>
              <div class='index-row__content'>
                <div class='index-row__title'>
                  {{ article.title }}
                </div>
                {% comment %}
                <div class='index-row__excerpt'>
                  {{ article.excerpt }}
                </div>
                {% endcomment %}
              </div>
            </a>
          </div>
          {% assign index = index | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% comment %} ABOUT {% endcomment %}
  <div class='index-about'>
    <div class='index-about__left'>
      <div class='index-about__inner'>
        <div class='index-about__content'>
          <div class='index-about__title'>Al<span class='red'>a</span>bama &dagger; <span class='red'>B</span>londe</div>
          <div class='index-about__text'>
            {{ settings.index_about_text }}
            <br />
            <a href='/pages/about/'>Read more</a>
          </div>
        </div>
        {% comment %}
        <div class='index-about__banner'></div>
        {% endcomment %}
      </div>
    </div>
    <div class='index-about__right'>
      <div class='index-about__image'>
        <img src='{{ settings.index_about_image | img_url: "master" }}' alt=''/>
      </div>
    </div>
    <div class='index-about__mobile'>
      &#10016;
      Al<span class='red'>a</span>bama <span class='red'>B</span>londe
      {{ settings.index_about_text }}
      <a href='/pages/about/'>More</a>
    </div>
  </div>

  {% include 'widget_newsletter' %}

  <!-- Snapppt embed code -->
  <h1 class='custom-snappt-header'>Shop on Instagram</h1>
  <h3 class='custom-snappt-subheader'>&#9769; Click an image to shop products &#9769;</h3>
  <script src="https://snapppt.com/widgets/widget_loader/8385e16d-e0a3-4f4e-8304-5393c39379c0/grid.js" defer="defer" class="snapppt-widget"></script>
  <!-- end Snapppt embed code -->
</div>

<!-- widgets -->
{% include 'widget_audioplayer' %}
