<div class="password-page disabled">
	<div class="password-page__image">
		<img onload="add(this);" src="{{ 'alabama_1.png' | file_url }}">
		<img onload="add(this);" src="{{ 'frame_1.png' | file_url }}">
		<img onload="add(this);" src="{{ 'frame_2.png' | file_url }}">
		<img onload="add(this);" src="{{ 'frame_3.png' | file_url }}">
		<img onload="add(this);" src="{{ 'frame_4.png' | file_url }}">
		<img onload="add(this);" src="{{ 'frame_5.png' | file_url }}">
		<img onload="add(this);" src="{{ 'frame_6.png' | file_url }}">
	</div>
	<div class="password-page__message font-half">
		ALABAMA BLONDE - Launching September 9th, See you soon!
	</div>
</div>

<div class='password-background'></div>

<script type="text/javascript">
	var mainImage, frames, currentFrame, toLoad;
	
	mainImage = $(".password-page__image img:nth-child(1)");
	frames = [];
	currentFrame = 0;
	toLoad = $(".password-page__image img").length;
	
	function add(elem) {
		toLoad -= 1;
		frames.push($(elem));
	}

	function animate() {
		if ($(".password-page").length > 0) {
			if (frames.length > 0) {
				var x, y;
				
				x = Math.floor(Math.random() * 6 - 3);
				y = Math.floor(Math.random() * 6 - 3);
				
				$(".password-page__image img").removeClass("active");
				$(".password-page__image img").css({
					opacity: Math.random() * 0.5 + 0.5,
					transform: "translate(" + x + "px, " + y + "px)"
				});	
				
				if (Math.random() > 0.65) {
					currentFrame = (currentFrame + 1) % frames.length;
					frames[currentFrame].addClass("active");
					$(".password-page__image").css({width: Math.floor(Math.random() * 10 + 40) + "vh"});
				} else {
					mainImage.addClass("active");
				}
			}
			setTimeout(function(){
				animate();
			}, 160);
		}
	}
	
	animate();
</script>

