<!-- /templates/product.liquid -->

<div class='content'>
  <div class='page'>
    <div itemscope itemtype="http://schema.org/Product">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
      {% assign current_variant = product.selected_or_first_available_variant %}

    	<div class='product-page'>
        <div class='product-page__gallery'>
          {% assign i = 0 %}
          {% for image in product.images %}
      			<div class='list-item gallery-button image-id-{{ image.id }} {% if i == 0 %}active{% endif %}' data-target='.image-{{ i }}'>
      				<img src="{{ image.src | img_url: '100x' }}">
      			</div>
            {% assign i = i | plus: 1 %}
      		{% endfor %}
        </div>

        <div class='product-page__image'>
          <div class='product-page__image__inner'>
            {% assign i = 0 %}
            {% for image in product.images %}
        			<div class='list-item image-{{ i }} {% if i == 0 %}active{% endif %}'>
        				<img src="{{ image.src | img_url: '500x' }}" alt="{{ image.alt | escape }}">
        			</div>
              {% assign i = i | plus: 1 %}
            {% endfor %}
          </div>
        </div>

        <div class='product-page__info'>
          <div class='name'>
            {{ product.title }}
          </div>
          <div class='description'>
            {{ product.description }}
          </div>
          &dagger;
          <div class="product-page__orders" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      			<meta itemprop="priceCurrency" content="{{ shop.currency }}">
      			<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            <form class='cart-form' action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class='cart-price'>
    						<span id="ProductPrice" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {{ current_variant.price | money }}
                </span>
                <span class='tax-notice'>ex. TAX</span>
              </div>

              <div class='cart-variant-select'>
                <select dir="rtl" name="id" id="productSelect" class="product-single__variants">
      						{% for variant in product.variants %}
      							{% if variant.available %}
      								<option data-img='{% unless variant.image == blank %}{{ variant.image.id }}{% endunless %}' {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
      							{% else %}
      								<option data-img='{% unless variant.image == blank %}{{ variant.image.id }}{% endunless %}' disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
      							{% endif %}
      						{% endfor %}
    						</select>
              </div>

  						{% if product.compare_at_price_max > product.price %}
  							<span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
  							<p id="ComparePrice">
  								{{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
  							</p>
  						{% endif %}
              <div class='display-none'>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              </div>

    					<div class="cart-add">
    						<button type="submit" name="add" id="AddToCart" class="btn">
    							<span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>.
    						</button>
    					</div>
    					<div class="cart-prompt display-none">
    						Item/s added <a class="underline" href="/cart">View Cart</a>
    					</div>
      			</form>

      		</div> <!-- /product-page__orders -->
        </div>
    	</div>
    </div>
  </div>

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <script>
    var selectCallback = function(variant, selector) {
      timber.productPage({
        money_format: "{{ shop.money_format }}",
        variant: variant,
        selector: selector
      });
    };

    jQuery(function($) {
      new Shopify.OptionSelectors('productSelect', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
      });

      // Hide selectors if we only have 1 variant and its title contains 'Default'.
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        $('.selector-wrapper').hide();
      {% endif %}
    });
  </script>
</div>
